

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}



.hex .topland {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex .middleland {
    width: 104px;
    height: 60px;
    background: #6C6;
}

.hex .bottomland {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex .topwater {
    width: 0;
    border-bottom: 30px solid #66C;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex .middlewater {
    width: 104px;
    height: 60px;
    background: #66C;
}

.hex .bottomwater {
    width: 0;
    border-top: 30px solid #66C;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hexrow {
    clear: left;
}

.even {
    margin-left: 53px;
}

.land {
    border-color: #6C6;
}

.watertop {
    border-bottom: blue;
}
.watermiddle {
    background: blue;
}
.waterbottom {
    border-top: blue;
}