

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}


.hex .topland {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.highlightHex .topland {
    opacity: 0.8;
}

.red .topland {
    border-bottom-color: #c0392b;
}

.blue .topland {
    border-bottom-color: #2980b9;
}

.hex .middleland {
    width: 104px;
    height: 60px;
    background: #6C6;
    text-align: center;
}

.highlightHex .middleland {
    opacity: 0.8;
}

.red .middleland {
    background-color: #c0392b;
}

.blue .middleland {
    background-color: #2980b9;
}

.hex .bottomland {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.highlightHex .bottomland {
    opacity: 0.8;
}

.red .bottomland {
    border-top-color: #c0392b;
}

.blue .bottomland {
    border-top-color: #2980b9;
}

.hex .topwater {
    width: 0;
    border-bottom: 30px solid #2c3e50;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex .middlewater {
    width: 104px;
    height: 60px;
    background: #2c3e50;
}

.hex .bottomwater {
    width: 0;
    border-top: 30px solid #2c3e50;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hexrow {
    clear: left;
}

.even {
    margin-left: 53px;
}

.land {
    border-color: #6C6;
}

.watertop {
    border-bottom: blue;
}
.watermiddle {
    background: blue;
}
.waterbottom {
    border-top: blue;
}
